{% extends 'music/base.html' %}

{% block title %}Авторизация{% endblock %}

{% block main %}

    <form method="post">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

    {% for f in form %}

        <p class="form-align">
            <label class="form-label" style="padding: 0 10px;" for="{{ f.id_for_label }}">{{ f.label }}: </label>
            {{ f }}
        </p>

        <div class="form-error">{{ f.errors }}</div>

    {% endfor %}

    <button type="submit" class="login-conf">Войти</button>
    </form>

{% endblock %}