{% extends 'music/base.html' %}

{% block title %}Регистрация{% endblock %}

{% block main %}

<form method="post">
    {% csrf_token %}

    {% for f in form %}

        <p class="form-align">
            <label class="form-label" style="padding: 0 10px;" for="{{ f.id_for_label }}">{{ f.label }}: </label>
            {{ f }}
        </p>

        <div class="form-error">{{ f.errors }}</div>

    {% endfor %}

    <button type="submit" class="register-conf">Зарегистрироваться</button>

</form>

{% endblock %}